#suit1 {
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 55%;
    margin-top: -20%;   
}

#suit2 {
    width: 30%;
    height: 30%;
}

#suit3 {
    width: 60%;
    height: 30%;
    position: relative;
    margin-left: -10%;
    margin-top: -15%;
    z-index: 1;
}



.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }