.App {
  text-align: center;

  height: 100%;
  width: 100%;
};

.wrapper {
  position: relative;
  overflow: hidden;
  width: 1400px;
  height: 100px; 
  border: 40px solid black;
}

#slide {
  position: absolute;
  left: -1350px;
  width: 1400px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide {
  transition: 1s;
  left: 0;
}