@font-face {
    font-family: EarthOrbiter;
    src: url('../../assets/earthorbiter.ttf');
  }
  
  #navbar {
    font-family: EarthOrbiter;
    font-size: 150%;
    text-shadow: 1px 1px grey;
    width: 10%;
    padding-left: 2%;
    display: inline;
    margin: 5%;

    
  }

  #navbar :hover{
    color: #f25a2e;
   
  }


  #purchase {
    color: white;
    background-color: #f25a2e;
  }